<!doctype html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body class="flex flex-dir-col">
    <%- include("./partials/header.ejs")%>

    <div
      class="app-container flex flex-al-it-center flex-just-cont-center gap1 flex-dir-col"
    >
      <span>This link have expired. Go to home ?</span>

      <a class="font-sx1" href="/">Go back to app</a>
    </div>
  </body>
</html>
