* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.radio-canada-big-400 {
  font-family: "Radio Canada Big", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.playfair-display-400 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.font-sx1 {
  font-size: 1.5rem;
}

.font-sx2 {
  font-size: 2rem;
}

.underline {
  text-decoration: underline;
}

.text-al-center {
  text-align: center;
}

body {
  background-color: rgb(255, 255, 255);
  height: 100vh;
}

a:link {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  scale: 0.9;
}

li {
  list-style: none;
}

li:hover {
  scale: 0.9;
}

.grid {
  display: grid;
}

.gridr4 {
  grid-template-rows: repeat(4, 1fr);
}

.gridc8 {
  grid-template-columns: repeat(8, 1fr);
}

.grid-al-it-center {
  align-items: center;
}

.grid-just-cont-center {
  justify-items: center;
}

.flex {
  display: flex;
}

.flex-just-cont-center {
  justify-content: center;
}

.flex-just-cont-sp-even {
  justify-content: space-evenly;
}

.flex-al-it-center {
  align-items: center;
}

.flex-dir-col {
  flex-direction: column;
}

.gap1 {
  gap: 1rem;
}

.gap05 {
  gap: 0.5rem;
}

.padleft2 {
  padding-left: 2rem;
}

.pad2 {
  padding: 2rem;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.header {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgb(245, 255, 254);
  z-index: 1;
}

.logo {
  font-size: 3rem;
}

.page {
  font-size: 2rem;
}

.app-container {
  height: 100%;
}

.navbar {
  width: 10vw;
  border-right: 1px solid rgb(230, 230, 230);

  background-color: rgb(224, 243, 243);
}

.nav-links {
  padding-left: 10rem;
}

.files-container {
  width: 100%;
  height: 100%;
}

.file-card {
}

.file-title {
}
